@use "./mixins/config.scss" as *;
.#{$namespace}-notify {
  display: inline-block;
  position: absolute;
  z-index: 9999;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 15px;
  color: #fff;
}
