@use "./mixins/config.scss" as *;

.#{$namespace}-pagination {
  display: flex;
  justify-content: center;
  &__item {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 23px;
    padding: 0 8px;
    height: 23px;
    line-height: 23px;
    border: 0.5px solid rgb(229, 229, 229);
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    &:hover {
      background-color: rgb(245, 245, 245);
    }
    &.active {
      background-color: rgb(236, 65, 65);
      color: #fff;
      border-color: rgb(236, 65, 65);
    }
    &.ellipsis {
      pointer-events: none;
    }
    &.next {
      padding: 0 5px;
      margin-right: 0px;
    }
    &.prev {
      padding: 0 5px;
      line-height: 21px;
    }
    &.disabled {
      pointer-events: none;
      color: rgb(209, 209, 209);
    }
  }
}
