@import "./_theme.scss";
@import "./_util.scss";

@mixin themeify {
  $default-map: map-get($themes, "default") !global;
  @each $theme-name, $theme-map in $themes {
    $theme-name: $theme-name !global;
    $theme-map: $theme-map !global;
    [data-theme="#{$theme-name}"] & {
      @content;
    }
  }
}

@function themed($key) {
  @if $theme-name == "default" {
    @return map-get($default-map, $key);
  } @else {
    @if map_has_key($theme-map, $key) {
      @return map-get($theme-map, $key);
    } @else {
      @return map-get($default-map, $key);
    }
  }
}

@mixin basic_color() {
  @include themeify {
    background-color: themed("basic");
  }
}
@mixin navbar_stripe() {
  @include themeify {
    background-image: themed("navbar-stripe");
  }
}
@mixin theme_pickButton_border() {
  @include themeify {
    border-color: themed("theme-pickButton-border");
  }
}
@mixin main_color() {
  @include themeify {
    background-color: themed("main-color");
  }
}
@mixin font-color($key: "color") {
  @include themeify {
    #{$key}: themed("font-color");
    &.hover {
      &:hover {
        #{$key}: themed("font-color-hover");
      }
    }
  }
}
@mixin font-color-number() {
  @include themeify {
    color: themed("font-color-number");
  }
}
@mixin font-color-desc($key: "color") {
  @include themeify {
    #{$key}: themed("font-color-desc");
    &.hover {
      &:hover {
        #{$key}: themed("font-color-desc-hover");
      }
    }
  }
}
@mixin font-color-blue($key: "color") {
  @include themeify {
    #{$key}: themed("font-color-blue");
    &.hover {
      &:hover {
        #{$key}: themed("font-color-blue-hover");
      }
    }
  }
}
@mixin font-color-dark($key: "color") {
  @include themeify {
    #{$key}: themed("font-color-dark");
    &.hover {
      &:hover {
        #{$key}: themed("font-color-dark-hover");
      }
    }
  }
}
@mixin font-color-lyric($key: "color") {
  @include themeify {
    #{$key}: themed("font-color-lyric");
    &.hover {
      #{$key}: themed("font-color-lyric-hover");
    }
    &.active {
      #{$key}: themed("font-color-lyric-active");
    }
  }
}
@mixin font-color-lyric-active($key: "color") {
  @include themeify {
    #{$key}: themed("font-color-lyric-active");
  }
}
@mixin font-color-lyric-hover($key: "color") {
  @include themeify {
    #{$key}: themed("font-color-lyric-hover");
  }
}
@mixin red_custom($key: "background-color") {
  @include themeify {
    #{$key}: themed("red_custom") !important;
  }
}
@mixin input-bg() {
  @include themeify {
    background-color: themed("input-bg");
  }
}
@mixin hover-default() {
  @include themeify {
    background-color: themed("hover-default");
  }
}
@mixin hover-menuList($key: "background-color") {
  @include themeify {
    #{$key}: themed("hover-menuList");
  }
}
@mixin split-line($key: "background-color") {
  @include themeify {
    #{$key}: themed("split-line");
  }
}
@mixin player-bg() {
  @include themeify {
    background-color: themed("player-bg");
  }
}

// utils
//----------
@mixin scrollbar() {
  @include themeify {
    &::-webkit-scrollbar {
      width: 8px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: themed("popover_tb");
      border-radius: 5px;
      &:hover {
        background-color: themed("popover_tb_h");
      }
    }
    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }
}
