$themes: (
  ofRed: (
    basic: rgb(236, 65, 65),
    font-color: rgb(52, 52, 52),
    navbar-line: rgb(236, 65, 65)
  ),
  coDark: (
    basic: rgb(33, 33, 36),
    navbar-stripe:
      linear-gradient(
        to right,
        rgb(102, 4, 4),
        rgb(184, 37, 37),
        rgb(102, 4, 4)
      ),
    theme-pickButton-border: rgb(54, 54, 54),
    main-color: rgb(43, 43, 43),
    font-color: rgb(214, 214, 214),
    font-color-number: rgb(103,103,103),
    font-color-desc: rgb(112,112,112),
    navbar-line: rgb(236, 65, 65),
    input-bg: rgb(43,43,46),
    hover-default: rgb(66,66,66),
    hover-menuList: rgb(51,51,51),
    split-line: rgb(68,68,68),

    button-default-bd: rgb(84,84,84),
    button-default-hb: rgb(64,64,64),
    button-disabled-bg: rgb(68,68,68),
    button-disabled-bd: rgb(95,95,95),
    button-disabled-color: rgb(124,124,124),

    popover_bg: rgb(54, 54, 54),
    popover_bs: 0 0 5px 0 rgb(18, 18, 18),
    popover_tb: rgb(74,74,74),
    popover_tb_h: rgb(83,83,83),
  ),
  default: (
    basic: var(--custom-theme),
    navbar-stripe: var(--custom-theme),
    theme-pickButton-border: rgb(255, 255, 255),
    popover_bg: rgb(255, 255, 255),
    font-color: rgb(55,55,55),
    font-color-number: rgb(192, 193, 194),
    font-color-desc: rgb(182,182,182),
    navbar-line: var(--custom-theme),
    input-bg: rgba(0, 0, 0, 0.06),
    hover-default: rgb(240, 241, 242),
    hover-menuList: rgb(246,246,247),
    split-line: rgba(237, 237, 237),

    // button-disabled-bg: rgb(255, 255, 255),
    // button-disabled-bd: rgb(217, 217, 217),
    // button-disabled-color: rgb(217,217,217),
  ),
);
