$themes: (
  ofRed: (
    basic: rgb(236, 65, 65),
    red_custom: rgb(236, 65, 65),
  ),
  coDark: (
    basic: rgb(33, 33, 36),
    red_custom: rgb(236, 65, 65),
    navbar-stripe:
      linear-gradient(
        to right,
        rgb(102, 4, 4),
        rgb(184, 37, 37),
        rgb(102, 4, 4)
      ),
    theme-pickButton-border: rgb(54, 54, 54),
    main-color: rgb(43, 43, 43),
    font-color: rgb(214, 214, 214),
    font-color-hover: rgb(255, 255, 255),
    font-color-number: rgb(103, 103, 103),
    font-color-desc: rgb(112, 112, 112),
    font-color-desc-hover: rgb(145, 145, 145),
    font-color-blue: rgb(133, 185, 230),
    font-color-blue-hover: rgb(179, 206, 229),
    font-color-dark: rgb(135, 135, 135),
    font-color-dark-hover: rgb(180, 180, 180),
    font-color-disable: rgb(102, 102, 102),
    font-color-lyric: rgb(255, 255, 255, 0.3),
    font-color-lyric-active: rgb(255, 255, 255, 1),
    font-color-lyric-hover: rgb(255, 255, 255, 1),
    input-bg: rgb(43, 43, 46),
    hover-default: rgb(66, 66, 66),
    hover-menuList: rgb(51, 51, 51),
    split-line: rgb(61, 61, 63),
    split-line-shallow: rgba(255, 255, 255, 0.05),
    button-default-bd: rgb(84, 84, 84),
    button-default-hb: rgb(64, 64, 64),
    button-disabled-bg: rgb(68, 68, 68),
    button-disabled-bd: rgb(95, 95, 95),
    button-disabled-color: rgb(124, 124, 124),
    popover_bg: rgb(54, 54, 54),
    popover_bs: 0 0 5px 0 rgb(18, 18, 18),
    popover_tb: rgb(74, 74, 74),
    popover_tb_h: rgb(83, 83, 83),
    loading-color: rgb(102, 102, 102),
    carousel-button: rgb(57, 57, 57),
    table-stripe: rgb(47, 47, 47),
    table-hover: rgb(55, 55, 55),
    table-active: rgb(65, 65, 65),
    pagination-disabled-bg: rgb(57, 57, 57),
    pagination-disabled-co: rgb(87, 87, 87),
    textarea-bg: rgb(68, 68, 68),
    textarea-bc: rgb(48, 48, 48),
    textarea-pc: rgb(105, 105, 105),
    player-bg: rgb(33, 33, 36),
    play-button-bg: rgb(42, 42, 45),
    play-progress-do: rgb(77, 77, 79),
  ),
  default: (
    basic: var(--custom-theme),
    navbar-stripe: var(--custom-theme),
    theme-pickButton-border: rgb(255, 255, 255),
    main-color: rgb(255, 255, 255),
    popover_bg: rgb(255, 255, 255),
    font-color: rgb(55, 55, 55),
    font-color-hover: rgb(0, 0, 0),
    font-color-number: rgb(192, 193, 194),
    font-color-desc: rgb(182, 182, 182),
    font-color-desc-hover: rgb(95, 95, 95),
    font-color-blue: rgb(80, 125, 175),
    font-color-blue-hover: rgb(11, 88, 176),
    font-color-dark: rgb(103, 103, 103),
    font-color-dark-hover: rgb(30, 30, 30),
    font-color-disable: rgb(159, 159, 159),
    font-color-lyric: rgb(0, 0, 0, 0.6),
    font-color-lyric-active: rgb(0, 0, 0, 1),
    font-color-lyric-hover: rgb(0, 0, 0, 0.7),
    red_custom: var(--custom-theme),
    input-bg: rgba(0, 0, 0, 0.06),
    hover-default: rgb(240, 241, 242),
    hover-menuList: rgb(246, 246, 247),
    split-line: rgba(224, 224, 224),
    split-line-shallow: rgba(0, 0, 0, 0.05),
    popover_tb: rgb(224, 224, 224),
    popover_tb_h: rgb(212, 212, 212),
    carousel-button: rgb(229, 229, 229),
    table-stripe: rgb(250, 250, 250),
    table-hover: rgb(241, 242, 243),
    table-active: rgb(229, 229, 229),
    pagination-disabled-bg: rgb(245, 245, 245),
    pagination-disabled-co: rgb(209, 209, 209),
    player-bg: rgb(255, 255, 255),
    play-button-bg: rgb(245, 245, 245),
    play-progress-do: rgb(206, 206, 206),
  ),
);
